---
layout: default
title: Executable Examples for Making Data Visual
---

<a href="./">◀ Back to Homepage</a>

<h2>List of Figures</h2>

{% for group in site.data.figures %} 
    <a href="#{{group.name}}"><div class="group"> {{ group.group }}:</a>
    {{ group.children | map: "title" | join: ", "  }}
<!--                    {% for figure in group.children %} 
        {% if figure.number %} 
            <span>{{ figure.title }} </span>
        {% endif %} 
    {% endfor %} 
!-->
{% endfor %}

{% for group in site.data.figures %}
    <a name="{{group.name}}"></a>
    <h2>{{ group.group }}</h2>

    {% for figure in group.children %}
        <div>
            {% if figure.number %} 
                {% if figure.variable %}
                    <h3> {{ figure.number }}: {{ figure.title}} ({{ figure.variable }}) </h3>
                {% else %}
                    <h3> {{ figure.number }}: {{ figure.title}} </h3>
                {% endif %} 
            {% else %}
                <h3>{{ figure.spec }}</h3>
            {% endif %}
            
            <a name="{{figure.spec}}"></a> 
            
            {% assign name = figure.spec | remove:".vl.json" | remove:".vg.json" %}     {% assign imgurl = name | append: ".png" | prepend: "img/" %}

            <a href="/examples/{{name}}">
                <img class="figure" src="{{imgurl}}" />
            </a>

            <p class="caption">{{ figure.caption }}</p>        
            
            <a href="/examples/{{name}}">
                {% if figure.spec contains ".vl."%}
                (Vega-Lite demo)
                {% else %}
                (Vega demo)
                {% endif %}
            </a>
                    
            {% if figure.note %}
                <p class="note">Note: {{figure.note}}</p>
            {% endif %}
            <div class="clear"></span>
        </div> 
    {% endfor %} 
{% endfor %}