---
---

@import "{{ site.theme }}";

.page-header.small {
    padding: 2rem 6rem;
    h1 {
        font-size: 2.5rem;
    }
}

.page-header a {
    color: white;
    text-decoration: none;
}

.group {
    margin: 0.6em 0;
}

img.figure {
    width: 220px;
    float:left;
    background: white;
    padding: 10px;
    border:1px black;
    margin-right: 20px;
}

#view {
    margin: 2em 0;
}

.note {
    font-style: italic;
}

.vega-actions a {
    margin-right: 0.6em;
}

.clear {
    clear: both;
}

.vega-bind > * {
    margin-right: .6em;
}

.vega-bind label {
    margin-right: .6em;
    margin-left: .2em;
}
