---
layout: default
---

<script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.9/vega.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.4/vega-lite.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0-rc7/vega-embed.js"></script>

<!--<script src="node_modules/vega/build/vega.js"></script>
<script src="node_modules/vega-lite/build/vega-lite.js"></script>
<script src="node_modules/vega-embed/vega-embed.js"></script>-->

<script>
    name = "{{ page.spec }}"
    vegaEmbed('#view', '/spec/' + name, {renderer: 'svg'}).then(function(res) {
        view = res.view;
        current = name;
    }).catch( console.error );

</script>
<a href="../figurelist.html">◀ Back to List of Figures</a>
<h1> {{page.number}} {{page.title}} </h1>

<p>
    {{ page.description }}
</p>

<div id="view"></div>

<p>This is Figure {{ page.number }} from the book, <a href="http://shop.oreilly.com/product/0636920041320.do">Making Data Visual</a> by Danyel Fisher and Miriah Meyer, O'Reilly Press, 2018.</p>